<!doctype html>
<html>

<body>
  <div
    style='background-color:#F5F5F5;color:#262626;font-family:"Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;font-size:16px;font-weight:400;letter-spacing:0.15008px;line-height:1.5;margin:0;padding:32px 0;min-height:100%;width:100%'>
    <table align="center" width="100%"
      style="margin:0 auto;max-width:600px;background-color:#FFFFFF"
      role="presentation" cellspacing="0" cellpadding="0" border="0">
      <tbody>
        <tr style="width:100%">
          <td>
            <div style="padding:0px 24px 0px 24px">
              <table align="center" width="100%" cellpadding="0" border="0"
                style="table-layout:fixed;border-collapse:collapse">
                <tbody style="width:100%">
                  <tr style="width:100%">
                    <td
                      style="box-sizing:content-box;vertical-align:middle;padding-left:0;padding-right:10.666666666666666px;width:10px">
                    </td>
                    <td
                      style="box-sizing:content-box;vertical-align:middle;padding-left:5.333333333333333px;padding-right:5.333333333333333px">
                      <div
                        style="padding:16px 24px 16px 24px;text-align:center">
                        <img alt="Banner"
                          src="https://my.boltx.work/assets/84780ab1-f2e7-432f-9f4a-60a962aed2c0"
                          height="80"
                          style="height:80px;outline:none;border:none;text-decoration:none;vertical-align:middle;display:inline-block;max-width:100%" />
                      </div>
                    </td>
                    <td
                      style="box-sizing:content-box;vertical-align:middle;padding-left:10.666666666666666px;padding-right:0;width:10px">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div style="padding:8px 24px 8px 24px">
              <hr
                style="width:100%;border:none;border-top:1px solid #DEE1E7;margin:0" />
            </div>
            <div style="padding:16px 24px 16px 24px">
              <div style="padding:0px 0px 0px 0px">
                <img alt="banner nhan hop dong coc"
                  src="https://my.boltx.work/assets/78c3cf5a-a9b0-49c0-8fad-07c15482be74"
                  style="outline:none;border:none;text-decoration:none;vertical-align:middle;display:inline-block;max-width:100%" />
              </div>
            </div>
            <div style="font-weight:normal;padding:0px 24px 0px 24px">
              <p>
                <strong>Kính gửi: Quý khách hàng [[${customer_name}]],</strong>
              </p>
              <p>
                Bạn đã ký thành công hợp đồng đặt cọc cho sản phẩm
                <span style="color: rgb(207, 165, 85);">[[${{property_name}}]]
                </span>trên
                <span style="color: rgb(207, 165, 85);">[[${app_name}]]</span>.
              </p>
            </div>
            <div style="padding:8px 24px 8px 24px">
              <hr
                style="width:100%;border:none;border-top:1px solid #CCCCCC;margin:0" />
            </div>
            <div style="font-weight:normal;padding:16px 24px 16px 24px">
              🔒 File hợp đồng được bảo vệ bằng mật khẩu. Vui lòng sử dụng
              **6 số cuối trên CCCD của bạn** để mở file PDF.
            </div>
            <div style="padding:8px 24px 8px 24px">
              <hr
                style="width:100%;border:none;border-top:1px solid #CCCCCC;margin:0" />
            </div>
            <div style="font-weight:normal;padding:8px 24px 0px 24px">
              <p>
                Vui lòng lưu trữ hợp đồng này để đối chiếu khi cần
                thiết.&nbsp;
              </p>
              <p>
                Nếu có vấn đề với chữ ký số, hãy liên hệ bộ phận hỗ trợ trong
                vòng 24 giờ.
              </p>
              <p><strong>Trân trọng,&nbsp;</strong></p>
              <p><strong>Đội ngũ THM&nbsp;</strong></p>
            </div>
            <div style="padding:16px 24px 16px 24px">
              <hr
                style="width:100%;border:none;border-top:1px solid #DEE1E7;margin:0" />
            </div>
            <div
              style="font-weight:normal;text-align:center;padding:0px 24px 0px 24px">
              <p><strong>Đồng hành cùng chúng tôi</strong></p>
            </div>
            <div style="padding:0px 24px 8px 24px">
              <table align="center" width="100%" cellpadding="0" border="0"
                style="table-layout:fixed;border-collapse:collapse">
                <tbody style="width:100%">
                  <tr style="width:100%">
                    <td
                      style="box-sizing:content-box;vertical-align:middle;padding-left:0;padding-right:8px">
                      <div style="padding:0px 0px 0px 0px;text-align:right">
                        <a href="[[${appstore_download_url}]]"
                          style="text-decoration:none" target="_blank"><img
                            alt="Appstore"
                            src="https://my.boltx.work/assets/3c74d245-cb6f-4041-b344-8d152f4d3d1f"
                            style="outline:none;border:none;text-decoration:none;vertical-align:middle;display:inline-block;max-width:100%" /></a>
                      </div>
                    </td>
                    <td
                      style="box-sizing:content-box;vertical-align:middle;padding-left:8px;padding-right:0">
                      <div style="padding:0px 0px 0px 0px">
                        <a href="[[${googleplay_download_url}]]"
                          style="text-decoration:none" target="_blank"><img
                            alt="Googleplay"
                            src="https://my.boltx.work/assets/8f292daa-9bbf-4737-b503-482e055c1876"
                            style="outline:none;border:none;text-decoration:none;vertical-align:middle;display:inline-block;max-width:100%" /></a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div
              style="color:#74748E;font-size:14px;font-weight:normal;text-align:center;padding:4px 24px 16px 24px">
              <p>© 2025 THM</p>
              <p>24 Quang Trung, Hoàn Kiếm, Hà Nội</p>
              <p></p>
              <p>
                Lưu ý khi nhận mail bạn có thể bỏ lỡ các thông tin quan
                trọng.<br />Quý khách có thể lựa chọn
                <a target="_blank"
                  href="http://[[${{update_information_url}}]]">cập nhật
                  thông tin</a>&nbsp;hoặc&nbsp;<a target="_blank"
                  href="http://[[${{unsubscription_url}}]]">từ chối nhận
                  email</a>
              </p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>